body {
	background-color: AntiqueWhite;
	text-align: center;
}
img {
	 width:600px;
	 border: 5px solid white;
}

h2 {             
	color: black;
	text-decoration: underline;

}
li {
	color: Maroon;
	font-size: 23px;
	
}

ul {
	list-style-type: none;
	border-style: dotted;
	margin-left: 25%;
	margin-right:25%;
	padding:0px;
}
ol {
	list-style-type: none;
	border-style: dotted;
	margin-left: 25%;
	margin-right:25%;
	padding:0px;
}
ol {
	list-style-type: none;
	border-style: dotted;
	margin-left: 33%;
	margin-right:33%;
	padding:0px;
}
title {
	font-family: bold;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAEBD7;
}


nav {
    text-align: center;
    margin-top: 50px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


.menu-item {
    margin: 0 20px;
}

.menu-item a {
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    padding: 10px 20px;
    display: block;
    border-radius: 25px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}


.menu-item a:hover {
    background-color: #45a049;
}

.menu h2 {
	display: inline;
	font-size: 30px;
}

.races ul {
  display: flex; /* Aligne les enfants horizontalement */
  justify-content: space-around; /* Espace les images */
  
}
.évolution ol {
	list-style-type: none;
	border-style: dotted;
	margin-left: 20%;
	margin-right:20%;
	padding:0px;
}

body {
    font-family: "Trebuchet MS";
}
.menu {
    display: flex;                /* Transformation en flexbox */
    padding:0;                    /* Suppression des marges internes */
    background-color: #D2B48C;       /* Ajout de la couleur d'arrière-plan */
    justify-content: space-around;/* Alignements des liens dans le menu */
}
.menu li {
    list-style-type: none ;       /* Suppression des puces */
  
}
.menu a {
    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */   
    
    margin: 0.5rem;               /* Marges externes */
    padding: 0.4rem 0;            /* Marges internes */
    text-align: center;           /* Centrage du texte */   
    background-color: #DCDCDC;    /* Arrière-plan */
    color: #000000;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #000000;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
    
    transition: all 1s ;          /* Ajout des effets de transition */
}
.menu a.actif {    
    background-color: #000 ; 
    color: #8B4513 ;
    border-color: #DCDCDC ;
}
.menu a:hover,
.menu a:hover.actif{
    background-color: #ed2794;
    color: #FAEBD7;
    border-color: #ffe843;
}



